body {
    color:  rgba(152, 80, 60)
}

.choice-container {
    display: flex;
    margin-bottom: 0.8rem;
    width: 100%;
    border-radius: 4px;
    background: rgb(213, 196,161) ;
    font-size: 3rem;
}

.choice-container:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 rgba(152, 80, 60);
    transform: scale(1.02);
    transform: trasform 100ms;
}

.choice-prefix {
    padding: 2rem 2.5rem;
    color: white;
}

.choice-text {
    padding: 2rem;
    width: 100%;
}

.correct {
    background: linear-gradient(32deg, rgb(116, 248, 116) 0%, rgb(13, 248, 13) 100%);
}

.incorrect {
    background: linear-gradient(32deg, rgb(248, 44, 44) 0%, rgb(247, 71, 65) 100%);
}

/*#hud {
    display: flex;
    justify-content: space-between;
}*/

.hud-prefix {
    text-align: center;
    font-size: 2rem;
}

.hud-main-text {
    text-align: center;
}



@media screen and (max-width: 768px) {
    .choice-container{
        min-width: 40rem;
    }
}